# Cache and logs (Symfony2)
/api/app/cache/*
/api/app/logs/*
!api/app/cache/.gitkeep
!api/app/logs/.gitkeep

# Parameters
/api/app/config/parameters.yml

# Managed by Composer
/api/app/bootstrap.php.cache
/api/bin/*
!api/bin/console
!api/bin/symfony_requirements
/api/vendor/

# Assets and user uploads
/api/web/bundles/
/api/web/uploads/

# PHPUnit
/api/app/phpunit.xml
/api/phpunit.xml

.idea/